html,
body {
    font-size: 10px;
    font-family: Raleway;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
}

div.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('./../assets/sun-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.location {
    padding-top: 4rem;
    margin-bottom: 3rem;

    text-align: center;

    input {
        font-size: 2rem;
        padding: 0.5rem 1rem;
        width: 80%;
        color: #101010;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-family: Raleway;
        border-radius: 5px;
        border: none;
        max-width: 400px;
    }

    button {
        border: none;
        width: 10rem;
        color: #fff;
        font-family: Raleway;
        background-color: #110701;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: .5rem;
        margin: 1rem auto;
    }

    p {
        font-size: 2rem;
        text-align: center;
        margin-top: 2rem;

        span {
            display: block;

            &:first-child {
                font-size: 5rem;
                text-transform: uppercase;
            }
        }
    }
}

div.degree {
    margin-bottom: 3rem;

    &>p {
        font-size: 10rem;
        text-align: center;
        margin-bottom: 1rem;

        &:first-child {
            font-size: 6rem;
        }
    }

    div.level {
        margin: 0 auto;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 5rem;
            position: relative;
            top: 13px;
            display: inline-block;
        }

        p {
            font-size: 3rem;
            display: inline-block;
        }
    }
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 2rem;
    max-width: 500px;
    margin: 0 auto;
}

div.hourly {
    width: 40%;
    position: relative;

    div {
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;

        img {
            width: 3rem;
        }

        p {
            font-size: 1.6rem;

            span {
                display: block;
            }
        }
    }
}

div.daily {
    width: 55%;
    position: relative;

    &::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #efefef;
    }

    div {
        text-align: center;
        margin-bottom: 1rem;

        p {
            font-size: 1.6rem;

            &:first-child {
                width: 100%;
            }
        }

        img {
            width: 3rem;
        }
    }

}

@media screen and (min-width: 1000px) {
    div.inner-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        padding-top: 5rem;
        align-items: center;
        flex-wrap: wrap;

        main {


            div.location {

                input {
                    font-size: 2rem;
                }

                button {
                    font-size: 2rem;
                    width: 15rem;
                }

                p {
                    font-size: 3rem;

                    span {
                        display: block;

                        &:first-child {
                            font-size: 8rem;
                        }
                    }
                }
            }

            div.level {
                p {
                    font-size: 3rem;
                }
            }
        }

        section {
            width: 45%;

            div.hourly {
                div {
                    p {
                        font-size: 2rem;
                    }
                }
            }

            div.daily {

                div {
                    p {
                        font-size: 2rem;
                    }
                }

            }
        }
    }
}